@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "sanBold";
    src: url("fonts/IBMPlexSansThai-Bold.ttf");
  }
  @font-face {
    font-family: "sanReg";
    src: url("fonts/IBMPlexSansThai-Regular.ttf");
  }
}

@layer utilities {
  .noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  .w1 {
    width: 1px;
  }
  .w1_5 {
    width: 1.5px;
  }
  .w2 {
    width: 2px;
  }
  .w3 {
    width: 3px;
  }
  .w4 {
    width: 4px;
  }
  .w5 {
    width: 5px;
  }
  .h-50vh {
    height: 50vh;
  }
  .pt-7vh {
    padding-top: 7vh;
  }
  .top-30per {
    top: 30%;
  }
  .left-12per {
    left: 12%;
  }
}

.section1 {
  .container.s1 {
    @media (min-width: 769px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .group1 {
        position: relative;
        .item1 {
        }
        .item2 {
          position: absolute;
          right: 0;
          visibility: hidden;
        }
      }
      .group2 {
        position: relative;
        .item-wrap {
          .item1 {
          }
          .item2 {
            transition: all 0.2s ease-in-out;
          }
          .item3 {
            transition: all 0.2s ease-in-out;
          }
        }
        .item-wrap2 {
          position: absolute;
          right: 0;
          display: "flex";
          align-items: "center";
          transform: translateX(100%);
        }
      }
    }
    @media (min-width: 320px) and (max-width: 768px) {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .group1 {
        .item1 {
          transition: all ease 0.5s;
        }
        .item2 {
          transition: all 0.2s ease-in-out;
          visibility: hidden;
          position: absolute;
        }
      }
      .group2 {
        position: relative;
        .item-wrap {
          .item2 {
            transition: all 0.2s ease-in-out;
            visibility: hidden;
          }
          .item3 {
            transition: all 0.2s ease-in-out;
            visibility: hidden;
          }
        }
        .item-wrap2 {
          margin-left: 5px;
          line-height: 1;
          transform: translateY(3px);
        }
      }
    }
  }
}
