@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "sanBold";
    src: url("fonts/IBMPlexSansThai-Bold.ttf");
  }
  @font-face {
    font-family: "sanReg";
    src: url("fonts/IBMPlexSansThai-Regular.ttf");
  }
}

@layer utilities {
  .noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  .w1 {
    width: 1px;
  }
  .w1_5 {
    width: 1.5px;
  }
  .w2 {
    width: 2px;
  }
  .w3 {
    width: 3px;
  }
  .w4 {
    width: 4px;
  }
  .w5 {
    width: 5px;
  }
  .h-50vh {
    height: 50vh;
  }
  .pt-7vh {
    padding-top: 7vh;
  }
  .pt-10per {
    padding-top: 10%;
  }
  .pl-10per {
    padding-left: 10%;
  }
  .pr-10per {
    padding-right: 10%;
  }
  .h-97per {
    height: 97%;
  }
  .top-25per {
    top: 25%;
  }
  .top-30per {
    top: 30%;
  }
  .left-12per {
    left: 12%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: antialiased;
}

html {
}

body {
  overflow-x: hidden;
}

.section {
  display: flex;
  height: 100vh;
  width: 100%;
}

.section1 {
  .container.s1 {
    @media (min-width: 769px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .group1 {
        position: relative;
        .item1 {
        }
        .item2 {
          position: absolute;
          right: 0;
          visibility: hidden;
        }
      }
      .group2 {
        position: relative;
        .item-wrap {
          .item1 {
          }
          .item2 {
            transition: all 0.2s ease-in-out;
          }
          .item3 {
            transition: all 0.2s ease-in-out;
          }
        }
        .item-wrap2 {
          position: absolute;
          right: 0;
          display: "flex";
          align-items: "center";
          transform: translateX(100%);
        }
      }
    }
    @media (min-width: 320px) and (max-width: 768px) {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .group1 {
        .item1 {
          transition: all ease 0.5s;
        }
        .item2 {
          transition: all 0.2s ease-in-out;
          visibility: hidden;
          position: absolute;
        }
      }
      .group2 {
        position: relative;
        .item-wrap {
          .item2 {
            transition: all 0.2s ease-in-out;
            visibility: hidden;
          }
          .item3 {
            transition: all 0.2s ease-in-out;
            visibility: hidden;
          }
        }
        .item-wrap2 {
          margin-left: 5px;
          line-height: 1;
          transform: translateY(3px);
        }
      }
    }
  }
}

.doctor {
  background-image: url("../dist/assets/images/IMG_09.png");
}

.ob1 {
  width: 85px;
  height: 85px;
  transform: translate(58%, -223%);
  @media (min-width: 375px) {
    transform: translate(50%, -244%);
  }
  @media (min-width: 400px) {
    transform: translate(55%, -278%);
  }
  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    transform: translate(59%, -220%);
  }
  @media (min-width: 1024px) {
    width: 150px;
    height: 150px;
    transform: translate(-131%, -231%);
  }
  @media (min-width: 1280px) {
    transform: translate(-184%, -220%);
  }
  @media (min-width: 1536px) {
    transform: translate(-240%, -220%);
  }
  @media (min-width: 1800px) {
    transform: translate(-206%, -279%);
  }
}
.ob2 {
  width: 85px;
  height: 85px;
  transform: translate(-64%, -177%);
  @media (min-width: 375px) {
    transform: translate(-74%, -193%);
  }
  @media (min-width: 400px) {
    transform: translate(-74%, -193%);
  }
  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    transform: translate(-54%, -148%);
  }
  @media (min-width: 1024px) {
    width: 150px;
    height: 150px;
    transform: translate(-216%, -131%);
  }
  @media (min-width: 1280px) {
    transform: translate(-264%, -121%);
  }
  @media (min-width: 1536px) {
    transform: translate(-302%, -112%);
  }
  @media (min-width: 1800px) {
    transform: translate(-307%, -162%);
  }
}
.ob3 {
  width: 85px;
  height: 85px;
  transform: translate(-153%, -102%);
  @media (min-width: 375px) {
    transform: translate(-158%, -102%);
  }
  @media (min-width: 400px) {
    transform: translate(-171%, -89%);
  }
  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    transform: translate(-108%, -43%);
  }
  @media (min-width: 1024px) {
    width: 150px;
    height: 150px;
    transform: translate(-253%, -17%);
  }
  @media (min-width: 1280px) {
    transform: translate(-300%, 6%);
  }
  @media (min-width: 1536px) {
    transform: translate(-328%, 13%);
  }
  @media (min-width: 1800px) {
    transform: translate(-358%, 13%);
  }
}
.ob4 {
  width: 85px;
  height: 85px;
  transform: translate(-162%, 21%);
  @media (min-width: 375px) {
    transform: translate(-176%, 35%);
  }
  @media (min-width: 400px) {
    transform: translate(-198%, 43%);
  }
  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    transform: translate(-131%, 68%);
  }
  @media (min-width: 1024px) {
    width: 150px;
    height: 150px;
    transform: translate(-194%, 123%);
  }
  @media (min-width: 1280px) {
    transform: translate(-194%, 123%);
  }
  @media (min-width: 1536px) {
    transform: translate(-194%, 123%);
  }
  @media (min-width: 1800px) {
    transform: translate(-194%, 123%);
  }
}
