@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "sanBold";
    src: url("fonts/IBMPlexSansThai-Bold.ttf");
  }
  @font-face {
    font-family: "sanReg";
    src: url("fonts/IBMPlexSansThai-Regular.ttf");
  }
  @font-face {
    font-family: "heaven";
    src: url("fonts/DB-Heavent.ttf");
  }
}

@layer utilities {
  .noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  .w1 {
    width: 1px;
  }
  .w1_5 {
    width: 1.5px;
  }
  .w2 {
    width: 2px;
  }
  .w3 {
    width: 3px;
  }
  .w4 {
    width: 4px;
  }
  .w5 {
    width: 5px;
  }
  .h-50vh {
    height: 50vh;
  }
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdb913;
    color: transparent;
  }
  .pt-7vh {
    padding-top: 7vh;
  }
  .pt-10per {
    padding-top: 10%;
  }
  .pl-10per {
    padding-left: 10%;
  }
  .pr-10per {
    padding-right: 10%;
  }
  .h-97per {
    height: 97%;
  }
  .top-25per {
    top: 25%;
  }
  .top-30per {
    top: 30%;
  }
  .left-12per {
    left: 12%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: antialiased;
}

html {
}

body {
  overflow-x: hidden;
}

.section {
  display: flex;
  height: 100vh;
  width: 100%;
}

.section1 {
  .container.s1 {
    @media (min-width: 769px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .group1 {
        position: relative;
        .item1 {
        }
        .item2 {
          position: absolute;
          right: 0;
          visibility: hidden;
        }
      }
      .group2 {
        position: relative;
        .item-wrap {
          .item1 {
          }
          .item2 {
            transition: all 0.2s ease-in-out;
          }
          .item3 {
            transition: all 0.2s ease-in-out;
          }
        }
        .item-wrap2 {
          position: absolute;
          right: 0;
          display: "flex";
          align-items: "center";
          transform: translateX(100%);
        }
      }
    }
    @media (min-width: 320px) and (max-width: 768px) {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .group1 {
        .item1 {
          transition: all ease 0.5s;
        }
        .item2 {
          transition: all 0.2s ease-in-out;
          visibility: hidden;
          position: absolute;
        }
      }
      .group2 {
        position: relative;
        .item-wrap {
          .item2 {
            transition: all 0.2s ease-in-out;
            visibility: hidden;
          }
          .item3 {
            transition: all 0.2s ease-in-out;
            visibility: hidden;
          }
        }
        .item-wrap2 {
          margin-left: 5px;
          line-height: 1;
          transform: translateY(3px);
        }
      }
    }
  }
}

.doctor {
  background-image: url("../dist/assets/images/IMG_09.png");
}
.hand {
  background-image: url("../dist//assets//images/IMG_10.png");
}

.ob {
  width: 85px;
  height: 85px;
  @screen md {
    width: 150px;
    height: 150px;
  }
  @screen xl {
    width: 160px;
    height: 160px;
  }
  @screen ipad {
    width: 150px;
    height: 150px;
  }
}
.ob1 {
  transform: translate(58%, -223%);
  @screen xs {
    transform: translate(50%, -244%);
  }

  @screen md {
    transform: translate(109%, -259%);
  }
  @screen ipad {
    transform: translate(-59%, -231%);
  }
  @screen xl {
    transform: translate(-94%, -262%);
  }
  @screen 2xl {
    transform: translate(-86%, -220%);
  }
  @screen 3xl {
    transform: translate(-119%, -264%);
  }
}
.ob2 {
  transform: translate(-64%, -177%);
  @screen xs {
    transform: translate(-74%, -193%);
  }

  @screen md {
    transform: translate(-23%, -169%);
  }
  @screen ipad {
    transform: translate(-151%, -126%);
  }
  @screen xl {
    transform: translate(-182%, -133%);
  }
  @screen 2xl {
    transform: translate(-194%, -112%);
  }
  @screen 3xl {
    transform: translate(-231%, -162%);
  }
}
.ob3 {
  transform: translate(-153%, -102%);
  @screen xs {
    transform: translate(-158%, -102%);
  }

  @screen md {
    transform: translate(-121%, -52%);
  }
  @screen ipad {
    transform: translate(-148%, 2%);
  }
  @screen xl {
    transform: translate(-300%, 6%);
  }
  @screen 2xl {
    transform: translate(-212%, 13%);
  }
  @screen 3xl {
    transform: translate(-294%, 13%);
  }
}
.ob4 {
  transform: translate(-162%, 21%);
  @screen xs {
    transform: translate(-176%, 35%);
  }

  @screen md {
    transform: translate(-131%, 68%);
  }
  @screen ipad {
    transform: translate(-66%, 124%);
  }
  @screen xl {
    transform: translate(-194%, 145%);
  }
  @screen 2xl {
    transform: translate(-135%, 123%);
  }
  @screen 3xl {
    transform: translate(-173%, 164%);
  }
}

.ripple {
  z-index: -1;
}
.bubble {
  pointer-events: all;
  top: 50%;
  left: 50%;
}
.layer {
  pointer-events: none;
}

.hand-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "h1 ."
    "h1 h5"
    "h2 h5"
    "h2 h6"
    "h3 h6"
    "h3 h7"
    "h4 h7"
    "h4 .";
  @screen xl {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "h4 h4 h3 h3 h2 h2 h1 h1"
      ". h7 h7 h6 h6 h5 h5 .";
  }
  @screen ipad {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "h4 h4 h3 h3 h2 h2 h1 h1"
      ". h7 h7 h6 h6 h5 h5 .";
  }
}
.h1 {
  grid-area: h1;
}
.h2 {
  grid-area: h2;
}
.h3 {
  grid-area: h3;
}
.h4 {
  grid-area: h4;
}
.h5 {
  grid-area: h5;
}
.h6 {
  grid-area: h6;
}
.h7 {
  grid-area: h7;
}

.oh {
  width: 85px;
  height: 85px;
  @screen xs {
    width: 107px;
    height: 107px;
  }
  @screen sm {
    width: 120px;
    height: 120px;
  }

  @screen xl {
    width: 185px;
    height: 185px;
  }
  @screen 2xl {
    width: 220px;
    height: 220px;
  }
  @screen 3xl {
    width: 270px;
    height: 270px;
  }
  @screen ipad {
    width: 170px;
    height: 170px;
  }
}
